body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.content-container {
  position: relative;
  z-index: 2; /* Ensures content is above the parallax background */
  padding: 20px;
}