/* Header styling */
header {
    background-color: #e3af60;
    padding: 20px;
    text-align: left;
    color: #000;
}

h1 {
    margin: 0;
    font-size: 3.5em;
    font-weight: bold;
    margin-left: 25%;
}

/* Color line under the header */
.color-line {
    background-color: #FE5D25;
    height: 5px;
    width: 100%;
}