section {
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    position: relative;
    z-index: 2;
    width: 80%;
}

h2 {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: bold;
}

.content {
    background-color: #ffe5e5;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #83ba8a;
    border-radius: 50%;
    margin-left: auto;
}

.experience-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 20px; /* Spacing between grid items */
}

.experience-item {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for effect */
}

.experience-item h4 {
    margin-bottom: 10px;
    flex-grow: 1; /* Ensures the heading grows to push the image down */
}

.experience-item img {
    max-width: 300px; /* Increased size for logos */
    height: 200px;
    margin-top: 10px;
    object-fit: contain; /* Keep logos proportionate */
    align-self: flex-end; /* Align image to the bottom of the flexbox */
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    gap: 20px; /* Spacing between grid items */
    width: 100%; /* Ensure the grid takes the full width of the container */
    align-items: start; /* Align grid items at the start (top) */
}

.project-item {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for effect */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensure the item grows to fit the content */
    min-height: 200px; /* Add a minimum height for visual consistency */
    box-sizing: border-box; /* Ensure padding is included in height/width */
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr; /* One column on smaller screens */
    }
}


@media (max-width: 1224px) {
    .experience-grid {
        grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
    }
}

@media (max-width: 940px) {
    .experience-grid {
        grid-template-columns: 1fr; /* One column on very small screens */
    }
}